@model List<IDictionary<string, object>>  // Define the model as a list of dictionaries
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                @foreach (var column in Model.FirstOrDefault()?.Keys ?? Enumerable.Empty<string>())
                {
                    <th>@column</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    @foreach (var value in order.Values)
                    {
                        if (value.ToString().EndsWith(".jpeg"))
                        {
                            <td><img src="@value" /></td>
                        }
                        else
                        {
                            <td>@value</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>